@import 'normalize.scss';
h2 {
    color: #2a7ea4;
}

.item {
    display: flex;
    background-color: green;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}