.phone--form {
    display: flex;
    flex-direction: column;
}

.phone--form--group {
    display: flex;
    /* justify-content: right; */
    justify-content: stretch;
    align-items: stretch;
    margin: 20px 0;
    
}

.form--error {
    color: #FF40BE;
}

.phone--form--group input, .phone--form--group button {
    border-radius: 30px;
    font-size: 16px;
    padding: 0 20px;
    height: 58px;
    outline: none;

}

.phone--form--group input {
    border: 0px solid #000000;
    background-color: #e6e6e6;
    width: 100%;
    margin: 0 20px 0 0;
}

.form--item {
    display: flex;
}
